services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    image: chat-evaluator
    command: ["streamlit", "run", "app.py", "--server.port=8501", "--server.address=0.0.0.0"]
    ports:
      - "8501:8501"
    volumes:
      - ./datasets:/app/datasets
